os-sim/server/directives.dtd

<?xml version='1.0' encoding='UTF-8' ?>
 
<!--
  <!DOCTYPE jbosscmp-jdbc PUBLIC
      "-//Ossim//DTD Ossim Directives 1.0//EN"
      "http://www.ossim.net/dtd/directives.dtd">
-->


<!ELEMENT directives (directive)>

<!ELEMENT directive (rule, actions?)>
<!ATTLIST directive
          id       ID         #IMPLIED
          name     NMTOKEN    #REQUIRED
>

<!ELEMENT rule (rules, actions?)>

<!ELEMENT rules (rule+)>

<!ELEMENT actions (action+)>

<!ELEMENT action>
